html {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.app h1 {
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 3rem;
}
@media (min-width: 768px){
    .app h1 {
        text-align: left;
        padding: 1.5rem 3rem;
        display: flex;
        align-items: center;
    }
}
body {
    font-size: 16px;
    text-align: center;
    background-color: #2A2F3D;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: min(90%, 120rem);
    margin: 0 auto;
}

body .card-search {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
    padding: 2rem 0;
}

@media (min-width: 768px) {
    body .card-search {
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
        margin-top: 5rem;
        margin-bottom: 8rem;
    }
}

.card-search img {
    width: 100%;
    mix-blend-mode: hard-light;
}
.form-search h2{
    font-size: 1.8rem;
}
.card-search .form-search {
    border: 1px solid black;
    background-color: #FFF;
    padding: 2rem;
    border: none;
    border-radius: 1.5rem;
}
@media (min-width: 768px) {
    .card-search .form-search {
        border: 1px solid black;
        background-color: #FFF;
        padding: 5rem;
        border: none;
        border-radius: 1.5rem;
    }
}
.form-search form {
    display: flex;
    flex-direction: column;
}

.form-search form input[type="text"] {
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}
@media (min-width: 768px){

    .form-search form input[type="text"] {
        padding: .5rem 1rem;
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
}
.form-search form input[type="text"]:focus {
    outline: none;
}

.form-search form button[type="submit"] {
    width: 10rem;
    padding: 1rem 2rem;
    margin: 0 auto;
    font-size: 1.8rem;
    background-color: #FF6732;
    border: none;
    border-radius: .5rem;
    color: #FFF;
    font-weight: 700;
    letter-spacing: .2rem;
    cursor: pointer;
}

/* CARD-WEATHER */
.card-search .card-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

/* CARD-ITEM-CITY */
.card-item-city {
    border: 0.1rem solid #FF6732;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    background-color: #FF6732;
}

.card-item-city .name_city {
    font-size: 4rem;
    font-weight: 600;
}

.card-item-city .icon {
    width: 15rem;
}

.card-item-city .status_weather {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 600;
}

.card-item-city .status_day {
    font-size: 2.2rem;
    font-weight: 600;
}
@media (min-width: 768px){
    .card-item-city .status_day {
        font-size: 2.5rem;
        font-weight: 600;
    }
}
.card-item-city .temp_now {
    font-size: 2.8rem;
    margin: 0;
}

.card-item-city .temperatures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5rem;
    padding: 0 2.5rem;
    font-weight: 600;
}

/* FOOTER */
.footer {
    background-color: #FF6732;
    padding: .5rem 2rem;
    color: #FFF;
    font-weight: 600;
    margin-top: 3rem;
}

.footer .footer_tecnologies {
    display: flex;
    justify-content: center;
}

.footer .footer_tecnologies p {
    padding: 0 2rem;
}

@media (min-width: 768px) {

    /* FOOTER */
    .footer {
        background-color: #FF6732;
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 2rem;
    }
    .footer .footer_text{
        text-align: left;
    }
    
    .footer .footer_tecnologies{
        display: flex;
    }
}